$container-size: 1170px;
$container-padding: 32px;

$media-tablet: 600px;
$media-desktop: 1024px;

$font-stack-primary: "Public Sans", Arial, Helvetica, sans-serif;
$font-stack-secondary: "Ibarra Real Nova", "Times New Roman", Times, serif;

$color-text-primary: #33323d;
$color-text-secondary: rgba(51, 50, 61, 0.8);
$color-grey-light: #5fb4a2;
