.site-footer {
  padding: 56px 0;
  text-align: center;
  background-color: $color-text-primary;
}

.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer__logo {
  margin-bottom: 40px;
}

// TABLET

@media screen and (min-width: 650px) {
  .site-footer {
    padding: 24px 0;
  }

  .site-footer__inner {
    flex-direction: row;
  }

  .site-footer__logo {
    margin-bottom: 0;
    margin-right: 50px;
  }
}